.container {
    display: grid;
    grid-template-areas: 
        'box-1 box-2 box-5'
        'box-1 box-3 box-5'
        'box-1 box-4 box-5';
    gap: 7px;
    height: 100vh;
    color: white;
}

.box {
    height: 100%;
    background-color: #42a1f5;

    display: flex;
    align-items: center;
    justify-content: center;
}

.box-1{
    grid-area: box-1;
}

.box-2{
    grid-area: box-2;
}

.box-3{
    grid-area: box-3;
}

.box-4{
    grid-area: box-4;
}

.box-5{
    grid-area: box-5;
}



@media only screen and (max-width: 700px) {
    .container{
        grid-template-areas: 
        'box-1'
        'box-2'
        'box-3'
        'box-4'
        'box-5';

        border: 5px solid green;
        padding: 5px;
    }

  }





